@import "tailwindcss";

@theme {
  --color-text: #fff;
}

.gradient-background {
  background: linear-gradient(180deg, #2563eb 0%, #d946ef 100%);
}

.gradient-btn {
  background: linear-gradient(90deg, #2563eb 0%, #d946ef 100%);
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}
